@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

body h1, h2, h3, h4, h5, h6, .nav-link{
    /*font-family: 'Raleway', sans-serif;*/
    font-family: "Palatino Linotype";
}

body{
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: #cbcbcb;
}

img{
    border-radius: 5px;
}

h3{
    font-weight: bold;
}

.navbar{
    position: absolute;
    width: 100%;
    z-index: 2;
    background: linear-gradient(#fafafa, #fafafa00);
}

#mobile-navbar{
    background-color: #fafafa;
}

#overlay-on-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(250, 250, 250, 0.97);
    z-index: 1;
}

.nav-item {
    font-weight: 700;
    display: inline-block;
    position: relative;
    color: white;
    padding-right: 10px;
    margin: 0;
    font-size: 18px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 5px;
    background-color: #4147c0;
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(0.8);
    transform-origin: bottom left;
}

footer {
    background-color: #4449a8;
    color: white;
}

.footer-logo {
    height: 200px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li {
    color: rgb(250, 250, 250);
    padding-top: 5px;
}

footer a:hover {
    color: rgb(182, 181, 181);
}

#error-message-login {
    color: red;
    font-size: small;
    margin-top: 5px; /* Add some space between the button and the error message */
}


.project-card img {
    max-width: 100%;
    max-height: 200px; /* Set your preferred max height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.project-card:nth-child(odd) {
    margin-right: auto;
    margin-left: 0;
}

.project-card:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
}

#error-message-add-project {
    color: red;
    font-size: small;
    margin-top: 5px; /* Add some space between the button and the error message */
}

#success-message-add-project {
    color: green;
    font-size: small;
    margin-top: 5px; /* Add some space between the button and the error message */
}

.home-bg {
    background-image: url(../assets/Pocetna.jpg);
    min-height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.expertise-bg {
    background-image: url(../assets/expertise_bg.jpg);
    min-height: 700px;
    width: 100%;
    background-position: 300% 70%;
    background-repeat: no-repeat;

}

.who-are-we{
    background-image: url("../assets/razlike_bg.jpg");
    background-position: 25% 70%;
    background-repeat: no-repeat;
    background-size: 1200px;
    margin-right: 20vw;
}

.about-bg{
    background-image: url(../assets/o_nama.jpg);
    min-height: 700px;
    width: 100%;
    background-position: center;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-color: #cbcbcb;
}

.project-bg{
    background-image: url(../assets/Poslednji_projekat.jpg);
    min-height: 700px;
    width: 100%;
    background-position: 200% 70%;
    background-repeat: no-repeat;
}


.contact-bg{
    background-image: url("../assets/contact bg.jpg");
    min-height: 700px;
    width: 100%;
    background-position: 100% 70%;
    background-repeat: no-repeat;
}

.subhead-home {
    font-size: 1.5vw;
    font-weight: 100;
}

.home-box-text{
    max-width: 600px;
    padding: 3vw;
    background-color: #cbcbcb;
    animation: slideIn 1s ease;
    border-radius: 5px;
    margin: 35vh 10vw 10vw;
}

.distinct-box-text{
    max-width: 600px;
    padding: 3vw;
    background-color: #cbcbcb;
    animation: slideIn 1s ease;
    border-radius: 5px;
    margin: 15vh 50vw 10vw;
}

.animated-div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.animated-div.show {
    opacity: 1;
    transform: translateY(0);
}

.real-estate-img{
    display: block;
    position:absolute;
    margin-top: 30vh;
    margin-left: 10vw;
    height: auto;
    width: 50%;
    z-index: -1;
    animation: slideIn 1s ease;
}

.tax-law-img{
    display: block;
    position:absolute;
    margin-top: 25vh;
    margin-left: 7vw;
    height: auto;
    width: 75%;
    z-index: -1;
    animation: slideIn 1s ease;
}

.employ-img{
    display: block;
    position:absolute;
    margin-top: 25vh;
    margin-left: 7vw;
    height: auto;
    width: 65%;
    z-index: -1;
    animation: slideIn 1s ease;
}

.l-and-e-img{
    display: block;
    position:absolute;
    margin-top: 25vh;
    margin-left: 10vw;
    height: auto;
    width: 50%;
    z-index: -1;
    animation: slideIn 1s ease;
}

.tax-box-text{
    max-width: 900px;
    padding: 3vw;
    background-color: #cbcbcb;
    animation: slideInRight 1s ease;
    border-radius: 5px;
    margin: 70vh 40vw 10vw;
}

.real-estate-box-text{
    max-width: 750px;
    padding: 3vw;
    background-color: #cbcbcb;
    animation: slideInRight 1s ease;
    border-radius: 5px;
    margin: 40vh 40vw 10vw;
}

.intellectual-box-text{
    max-width: 900px;
    padding: 3vw;
    background-color: #cbcbcb;
    animation: slideInRight 1s ease;
    border-radius: 5px;
    margin: 80vh 35vw 10vw;
}

@media screen and (min-width: 1030px) {
    /* On desktop, move the background image 25% to the right */
    .home-bg{
        background-position: 270% center;
    }
    .about-bg{
        background-position: 135% center;
    }
}

@media screen and (max-width: 1030px) {
    /* On desktop, move the background image 25% to the right */
    .home-bg,
    .about-bg,
    .expertise-bg,
    .project-bg{
        background-position: center;
        background-size: cover;
        margin-left: 0;
        margin-right: 0;
    }

    .who-are-we{
        background-size: cover;
        background-position: center;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    .home-box-text,
    .distinct-box-text,
    .real-estate-box-text,
    .tax-box-text,
    .intellectual-box-text{
        margin: 40vh 0 20vw;
    }

    .navbar{
        background-color: #fafafa;
    }

    .navbar img{
        height: 100px;
    }

    .real-estate-img{
        margin: 0;
        width: 100%;
        height: auto;
    }

    .tax-law-img,
    .l-and-e-img,
    .employ-img{
        margin: 120px 0 0;
        width: 100%;
        height: auto;
    }
}

.bottom-to-top-text {
    display: inline-block;
    animation: slideIn 0.2s ease-in;
}

.head-home {
    font-size: 5vw;
    font-family: "Palatino Linotype";
    font-weight: bold;
}

.home-header{
    margin-top: 40vh;
    align-items: center;
}

.home-about{
    background-color: #eeeeee;
}

.home-desc {
    padding-top: 25px;
    text-align: center;
}

.smt{
    position: relative;
}

.founder-text-box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #eeeeee;
    color: black;
    padding: 20px;
    min-width: 300px;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideInRight {
    from {
        transform: translateX(50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.person-img {
    width: 80%;
    padding-left: 5vw;
    padding-bottom: 50px;
}

.person-text {
    padding-left: 6vw;
    padding-right: 6vw;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    height: 310px;
}

.project-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    min-height: 300px;
    background-color: #fafafa;
}

.limited-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
}


.limited-text2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.card-login {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    min-height: 250px;
    background-color: white;
}

.card-project{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    min-height: 500px;
    background-color: white;
}

.card-contact {
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    min-height: 250px;
}
.card-tax-law:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/Poresko pravo.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}

.card-real-estate:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/realEstate.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}

.card-l-e:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/Parnični postupak i izvršenje.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}

.card-corporate:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/Privredno i kompanijsko pravo, M&A.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}


.card-intellectual:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/Intelektualna svojina.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}

.card-immigration:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/Imigracija.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}

.card-employment:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/Radni odnosi.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}

.card-commercial:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: url("../assets/commercial bg.jpg"), rgba(65, 71, 192, 0.78);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: rgb(250, 250, 250);
}



.card:hover .no-hover-img{
    display: none;
}

.card:hover .hover-img{
    display: block;
}

.icons {
    width: 70px;
    margin: 0 auto;
    padding: 10px;
}

.cont {
    width: 100%;
    margin: 0 auto;
}

.hover-img{
    display: none;
}

.map-container {
    width: 100%;
    height: 40vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-href{
    color: black;
    text-decoration: none;
}

.contact-href:hover{
    color: #4147c0;
}

.btn-hover:hover{
    background-color: #4147c0;
    border: #4147c0;
}

.login-margin{
    padding-top:200px;
}

.new_project-margin{
    padding-top:200px;
}
.form-field{
    padding-bottom: 10px;
}

.pointer-option{
    cursor: pointer;
}

.card:hover{
    cursor: pointer;
}

.card a{
    text-decoration: none;
    color:black;
}

.card a:hover{
    text-decoration: none;
    color:white;
}

.construction-bg{
    min-height: 700px;
    background: url("../assets/Poslednji_projekat.jpg"), rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;

    background-blend-mode: multiply;
}

#hover_white a{
    color: black;
    text-decoration: none;
}

#hover_white:hover a{
    color: white;
}